{% extends "layout.html" %}

{% block content %}

<h2>📚 My Notes Library</h2>

<table class="table">
    <tr>
        <th>Title</th>
        <th>Date</th>
        <th>Action</th>
    </tr>

    {% for note in notes %}
    <tr>
        <td>{{ note[1] }}</td>
        <td>{{ note[2] }}</td>

        <td>
            {% if note[8] == 1 %}
                ⭐ Favorite
            {% endif %}

            <a href="/view-note/{{ note[0] }}"
               class="btn btn-primary">
                View
            </a>
        </td>
    </tr>
    {% endfor %}

</table>

{% endblock %}